
  .heading{
    font-weight: 700;
    text-align: center;
    padding-bottom: 16px;
    line-height: 1;

  }
  
  .flexcontainer {
    display: flex;
    flex-flow: row wrap;
    line-height: 36px;
  }

  .flexboxitem{
    width: 300px;
    background-position: -33.3% -4%;
  }

  .content{
    text-align: center;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 15px;
  }

  .imgdiv img{
    width: 275px;
    height: 180px;
    object-fit: cover;
  }

  .para{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .carspan{
    text-align: center;
  }


